<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/drinks">Back</a>
    <h1> At foo bar</h1>
    <li><%=alldrinks.name %> </li> 
    <li><%=alldrinks.price %> </li> 
    <img src="<%=alldrinks.image.slice(0,-3)+"png"%>" alt="image"> 
</body>
</html>